html,
body {
    margin: 0px;
    padding: 0px;
}

.container {
    border: 5px solid red;
}

.box {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
}

.box-1 {
    background: #581f18;
}

.box-2 {
    background: #F0a202;
}

.box-3 {
    background: #D95D39;
}

.box-4 {
    background: #202C59;
}

.box-5 {
    background: #51CB20;
}